<div>
    <h2>
        <span>Diplomes</span>
        <button class="btn btn-primary float-right jh-create-entity create-diplome" [routerLink]="['/', { outlets: { popup: ['diplome-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Diplome
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="diplomes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nom"><span>Nom</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateCreation"><span>Date Creation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateModification"><span>Date Modification</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diplome of diplomes ;trackBy: trackId">
                <td><a [routerLink]="['../diplome', diplome.id ]">{{diplome.id}}</a></td>
                <td>{{diplome.nom}}</td>
                <td>{{diplome.dateCreation}}</td>
                <td>{{diplome.dateModification}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../diplome', diplome.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'diplome/'+ diplome.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'diplome/'+ diplome.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="diplomes && diplomes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
