
<div *ngIf="diplome">
    <h2><span>Diplome</span> {{diplome.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{diplome.nom}}</span>
        </dd>
        <dt><span>Date Creation</span></dt>
        <dd>
            <span>{{diplome.dateCreation}}</span>
        </dd>
        <dt><span>Date Modification</span></dt>
        <dd>
            <span>{{diplome.dateModification}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'diplome/'+ diplome.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
