
<div *ngIf="tuteur">
    <h2><span>Tuteur</span> {{tuteur.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{tuteur.nom}}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
            <span>{{tuteur.prenom}}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
            <span>{{tuteur.telephone}}</span>
        </dd>
        <dt><span>Mail</span></dt>
        <dd>
            <span>{{tuteur.mail}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tuteur/'+ tuteur.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
